extends layout 

block content
    .container-fluid.p-5
        h1.text-center Iniciar Sesi칩n
        form(action="/login" method="POST")
            .form-group
                label(for="correo") Correo Electr칩nico:
                input.form-control(type="email" name="correo" required)

            .form-group
                label(for="contrasena") Contrase침a:
                input.form-control(type="password" name="contrasena" required)

            button.btn.btn-primary(type="submit") Iniciar Sesi칩n
        